.card {
    width: 350px;
    height: 500px;
    margin: 20px;
    border: none;
    overflow: hidden;
    flex-direction: column;
    border-radius: 10px;
  }

.cards {
    display: flex;          
    flex-wrap: wrap;       
    gap: 20px;            
    justify-content: center;
    padding: 20px;
    align-items: stretch;
}

.imageContainer {
height: 60%; 
background-image: url('/curavalera.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.cardContent {
height: 40%;
background-color: white;
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;
color: black;
}