.header {
    width: 100%;
    height: 500px;
    background: linear-gradient(rgb(255, 255, 255) 10%, transparent 90%), url('/curavalera.jpg') no-repeat center center;
    background-size: cover;

    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;

    color: black;
}

.navbar {
    background-color: white;
    border: 2px solid #c0392b;
    margin: 0px;
    max-width: 100%;
    overflow: visible; 
  }
  
  .navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 60px;
  }
  
  .navItem, .navItemDropdown {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
  }
  
  .navItem a, .navItemDropdown a {
    text-decoration: none;
    color: #c0392b;
    font-weight: bold;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* --- EFECTO HOVER Y DROPDOWN --- */
  
  /* Cambio a fondo oscuro al pasar el ratón */
  .navItemDropdown:hover > a {
    background-color: #222;
    color: white;
  }
  
  /* Estilos del menú oculto */
  .dropdown {
    display: none; 
    position: absolute;
    top: 100%;
    background-color: #222;
    min-width: 200px;
    border-top: 2px solid #c0392b;
  }
  
  .dropdown li a {
    color: #999 !important;
    padding: 15px;
    font-size: 0.95rem;
    justify-content: flex-start;
    text-align: left;
  }
  
  .dropdown li a:hover {
    background-color: #333;
    color: white !important;
  }
  
  .navItemDropdown:hover .dropdown {
    display: block;
  }