.pie {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #f2f2f2;
    font-size: 18px;
}
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  
  .redes {
    display: flex;
    gap: 16px;
  }
  
  .redes a {
    color: #f2f2f2;
    transition: 0.3s ease;
  }
  
  .redes a:hover {
    color: #ffcc00;
    transform: scale(1.15);
  }